header {
  height: 8vh !important;
}

aside {
  position: sticky;
  /* top: 0; */
  width: 100%;
  /* overflow-y: scroll; */
  flex: 0 0 24vw;
  height: 92vh;
}

.list_container {
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none;
}

.loading_container {
  height: 92vh;
}

body {
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
